<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="fryctze.college.collegekb2">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.CollegeKB2">

        <activity android:name=".activity_akhirCinderella"/>
        <activity android:name=".activity_akhirSuperman"/>
        <activity android:name=".activity_akhirTarzan"/>
        <activity android:name=".gantiKataCinderella"/>
        <activity android:name=".gantiKataSuperman"/>
        <activity android:name=".gantiKataTarzan"/>
        <activity
            android:name=".CreditActivity"
            android:exported="false" />
        <activity
            android:name=".MainActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>